<form enctype='multipart/form-data' action="/upload" method="POST">
    <input type="text" name='username' />
    <input type="file" name='picture' />
    <input type="submit" name="btn_upload_profile_pic">
</form>
